@model FiveMinuteMindfulness.Core.Dto.Content.SectionDto

<h4>@FiveMinuteMindfulness.Resources.Web.Common.Section</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Model.Title
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Model.Description
    </dd>
</dl>