@model IEnumerable<FiveMinuteMindfulness.Core.Dto.Content.SectionDto>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>@FiveMinuteMindfulness.Resources.Web.Views.Shared._Layout.Sections</h1>

    <p>
        <a asp-action="Create">@FiveMinuteMindfulness.Resources.Web.Common.CreateNew</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @FiveMinuteMindfulness.Resources.Web.Common.Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>