@{
    ViewData["Title"] = "Home Page";
}

<body>

<div class="w-100 h-100">
    <div class="d-flex">
        <div class="w-50">
            <img class="page-image" src="https://source.unsplash.com/FtqY6goIY14"
                 alt="Single lotus flower on a lake."/>
        </div>
        <div class="w-50">
            <div class="padded-container">
                <div class="mb-5">
                    <h2>@FiveMinuteMindfulness.Resources.Web.Common.HiYou</h2>
                    <p>
                        @FiveMinuteMindfulness.Resources.Web.Common.Paragraph1
                    </p>
                    <p>
                        @FiveMinuteMindfulness.Resources.Web.Common.Paragraph2
                    </p>
                    <p>
                        @FiveMinuteMindfulness.Resources.Web.Common.Paragraph3
                    </p>
                </div>
                <div>
                    <button type="button" class="btn btn-purple" onclick="window.location.href='pages/courses-home.html'">
                        <span class="btn-purple-text">
                            @FiveMinuteMindfulness.Resources.Web.Common.Start
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>