@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<FiveMinuteMindfulness.Core.Dto.Content.AssignmentDto>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>@FiveMinuteMindfulness.Resources.Web.Views.Shared._Layout.Assignments</h1>

    <p>
        <a asp-action="Create">@FiveMinuteMindfulness.Resources.Web.Common.CreateNew</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @FiveMinuteMindfulness.Resources.Web.Common.Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.DisplayFor(model => item.Author)
                </td>
                @if (item.Category != null)
                {
                    <td>
                        @item.Category.Title
                    </td>
                }
                else
                {
                    <td>
                        @FiveMinuteMindfulness.Resources.Models.Content.Assignment.NoCategory
                    </td>
                }
                <td>
                    @item.Section.Title
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@FiveMinuteMindfulness.Resources.Web.Common.Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>