@model IEnumerable<FiveMinuteMindfulness.Core.Dto.Content.AssignmentDto>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Assignments</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Author)
                    </td>
                    @if (item.Category != null)
                    {
                        <td>
                            @Html.DisplayFor(model => item.Category.Title)
                        </td>
                    }
                    else
                    {
                        <td>
                            No category
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(model => item.Section.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>