@model FiveMinuteMindfulness.Core.Dto.Content.TranscriptionDto

<h4>@FiveMinuteMindfulness.Resources.Web.Common.Transcription</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Content)
    </dt>
    <dd class="col-sm-10">
        @Model.Content
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Chapter)
    </dt>
    <dd class="col-sm-10">
        @Model.Chapter.Title
    </dd>
</dl>