@model FiveMinuteMindfulness.Core.Dto.Content.ChapterDto

<h4>@FiveMinuteMindfulness.Resources.Web.Common.Chapter</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Author)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ChapterType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ChapterType)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Assignment)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Assignment.Title)
    </dd>
</dl>